.panel.panel-default
  .panel-heading
    %label Want to know if the weather is decent?
  .panel-body
    %form.form{:role => 'form', :method => 'POST'}
      .form-group
        %label.control-label{:for => 'start_date'}
          When?
        %div
          %label From:
          %input.form_control{:type => 'text', :value => @params[:start_date], :id => 'start_date', :name => 'start_date'}
          %label to:
          %input.form_control{:type => 'text', :value => @params[:start_date], :id => 'end_date', :name => 'end_date'}
      .form-group
        %label.control-label{:for => 'country'}
          Where? 
        %div
          %label City:
          %input.form_control{:type => 'text', :value => @params[:town_city], :name => 'town_city'}
          %label in:
          %select.form_control{:name => 'country'}
            - @countries.each do | country |
              %option{:value => country[0], :id => country[1], :selected => country[0] == @params[:country]}= country[0]
      .form-group      
        %button.btn.btn-default{:type => "submit"}
          Search


:javascript
  $( document ).ready(function() {
    $( "#start_date" ).datepicker({
      showOn: "button",
      buttonImage: "images/calendar.gif",
      buttonImageOnly: true,
      showButtonPanel: true,
      changeMonth: true,
      changeYear: true      
    });

    $( "#end_date" ).datepicker({
      showOn: "button",
      buttonImage: "images/calendar.gif",
      buttonImageOnly: true,
      showButtonPanel: true,
      changeMonth: true,
      changeYear: true      
    });    
  });