.panel.panel-default
  .panel-heading
    %h2 Want to know if the weather is decent?
  .panel-body
    %form.form{:role => 'form', :method => 'POST'}
      .form-group
        %label.control-label{:for => 'start_date'}
          When?
        %div 
          %input.form_control{:type => 'text', :placeholder => 'Start date e.g. 0701', :id => 'start_date', :name => 'start_date'}
          %input.form_control{:type => 'text', :placeholder => 'End date e.g. 0731', :id => 'end_date', :name => 'end_date'}
      .form-group
        %label
          Where? 
        %div          
          %select.form_control{:name => 'country'}
            - @countries.each do | country |
              %option{:value => country[0], :id => country[1]}= country[0]
          %input.form_control{:type => 'text', :placeholder => 'Town / city e.g. London', :name => 'town_city'}
      .form-group      
        %button.btn.btn-default{:type => "submit"}
          Search


:javascript
  $( document ).ready(function() {
    $( "#start_date" ).datepicker({
      showOn: "button",
      buttonImage: "images/calendar.gif",
      buttonImageOnly: true,
      showButtonPanel: true,
      changeMonth: true,
      changeYear: true      
    });

    $( "#end_date" ).datepicker({
      showOn: "button",
      buttonImage: "images/calendar.gif",
      buttonImageOnly: true,
      showButtonPanel: true,
      changeMonth: true,
      changeYear: true      
    });    
  });