.panel.panel-default
  .panel-heading
    Enter your details
  .panel-body
    %form.form-inline{:role => 'form'}
      .form-group
        %input.form_control{:type => 'text', :placeholder => 'Enter start date'}
        %input.form_control{:type => 'text', :placeholder => 'Enter end date'}
        %input.form_control{:type => 'text', :placeholder => 'Enter country'}
        %input.form_control{:type => 'text', :placeholder => 'Enter town or city'}
        %button.btn.btn-default{:type => "submit"}
          Search