%html
    %head
        %title
            School Holiday Planner

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        %script{:type => "text/javascript", src:"https://code.jquery.com/jquery-1.9.1.min.js"}
        %script{:type => "text/javascript", src:"https://code.jquery.com/ui/1.10.3/jquery-ui.min.js"}
        %script{:type => "text/javascript", src:"/js/bootstrap.min.js"}            
        %link{:type => "text/css", :rel => "stylesheet", :href => "http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css"}
        %link{:type => "text/css", :rel => "stylesheet", :href => "/css/bootstrap.min.css"}
        %link{:type => "text/css", :rel => "stylesheet", :href => "/css/main.css"}

    %body
        #wrap
            .navbar.navbar-default
                .container
                    .navbar-header
                        %a.navbar-brand{:href => "/"} Home
            .container
                .row
                    = yield