%html
    %head
        %title
            School Holiday Planner
        %link{:type => "text/css", :rel => "stylesheet", :href => "/css/bootstrap.min.css"}

    %body
        #wrap
            .navbar.navbar-default
                .container
                    .navbar-header
                        %a.navbar-brand{:href => "/"} Home
            .container
                .row
                    = yield

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        %script{:type => "text/javascript", src:"https://code.jquery.com/jquery.js"}
        %script{:type => "text/javascript", src:"https://code.jquery.com/ui/1.10.3/jquery-ui.js"}
        %script{:type => "text/javascript", src:"/js/bootstrap.min.js"}